/* General */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Container */
.container{
  height: 100vh;
  background: rgba(24, 225, 235, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Styles */
h1{
  font-size: 40px;
}
section ul li{
  list-style: none;
  margin-top: 20px;
  font-size: 18px;
}
